@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  margin: 20px;
  line-height: 1.6;
  background-color: #fff;
  color: #000;
}

h1 {
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  font-weight: 700;
}

p {
  color: #555;
  text-align: justify;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}

em {
  font-style: normal;
  font-weight: 600;
  text-decoration: underline;
}
